<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.evaluate.mapper.EvaluateMapper">
    <select id="queryEvaluateList" resultType="com.mr.pojo.Evaluate">
        select eva_id as evaId,com_id as comId,user_id as userId,
        eva_content as evaContent,eva_time as evaTime,eva_level as evaLevel  from t_evaluate
    </select>
    <select id="selectl" resultType="com.mr.pojo.Evaluate">
        select
        w.eva_id,
        s.com_id,
        w.eva_content,
        s.com_name,
        s.com_pack,
        s.com_flavor,
        w.eva_time
        from
        t_evaluate as w,
        t_commodity as s
        where
        w.eva_id=w.eva_id and
        s.com_id=w.eva_id
    </select>


</mapper>